body {
    background-image: url(/images/image\ copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    
}

.aquabutton {
    border: none;
}

.header {
    display: grid
    
}